/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
  height: 100%;
  width: 100%;
  position: absolute;
}

.scoreboard {
  background-color: lightblue;
  padding: 5px;
  height: 75px;
}
